In [19]:
from sklearn.preprocessing import StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import numpy as np

In [49]:
Data = pd.read_csv('sample_ann_prediction.csv')
Data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography,Exited
0,452,Female,49,2,114458.49,3,0,0,147940.05,France,0
1,785,Female,21,3,196066.32,2,1,1,62743.46,Germany,1
2,698,Female,47,3,15069.25,2,0,1,114940.96,France,0
3,620,Male,54,2,61139.40,3,0,1,65018.52,Germany,1
4,456,Female,40,9,38182.21,2,1,0,126082.99,Germany,0
...,...,...,...,...,...,...,...,...,...,...,...
95,751,Female,50,8,92934.76,1,0,0,81631.98,Spain,0
96,567,Male,26,4,129954.74,1,0,1,31976.88,Spain,0
97,393,Male,23,7,9611.78,3,1,0,62820.04,France,0
98,511,Female,33,0,189829.15,1,0,1,10363.30,Spain,0
99,551,Male,46,4,177336.08,3,1,1,131562.15,Spain,1

In [50]:
labelencoder = LabelEncoder()
Data['Gender'] = labelencoder.fit_transform(Data['Gender'])

In [51]:
Data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography,Exited
0,452,0,49,2,114458.49,3,0,0,147940.05,France,0
1,785,0,21,3,196066.32,2,1,1,62743.46,Germany,1
2,698,0,47,3,15069.25,2,0,1,114940.96,France,0
3,620,1,54,2,61139.40,3,0,1,65018.52,Germany,1
4,456,0,40,9,38182.21,2,1,0,126082.99,Germany,0
...,...,...,...,...,...,...,...,...,...,...,...
95,751,0,50,8,92934.76,1,0,0,81631.98,Spain,0
96,567,1,26,4,129954.74,1,0,1,31976.88,Spain,0
97,393,1,23,7,9611.78,3,1,0,62820.04,France,0
98,511,0,33,0,189829.15,1,0,1,10363.30,Spain,0
99,551,1,46,4,177336.08,3,1,1,131562.15,Spain,1

In [52]:
hot_code = OneHotEncoder()
one_code = hot_code.fit_transform(Data[['Geography']]).toarray()

In [53]:
hot_code.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [54]:
Data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography,Exited
0,452,0,49,2,114458.49,3,0,0,147940.05,France,0
1,785,0,21,3,196066.32,2,1,1,62743.46,Germany,1
2,698,0,47,3,15069.25,2,0,1,114940.96,France,0
3,620,1,54,2,61139.40,3,0,1,65018.52,Germany,1
4,456,0,40,9,38182.21,2,1,0,126082.99,Germany,0
...,...,...,...,...,...,...,...,...,...,...,...
95,751,0,50,8,92934.76,1,0,0,81631.98,Spain,0
96,567,1,26,4,129954.74,1,0,1,31976.88,Spain,0
97,393,1,23,7,9611.78,3,1,0,62820.04,France,0
98,511,0,33,0,189829.15,1,0,1,10363.30,Spain,0
99,551,1,46,4,177336.08,3,1,1,131562.15,Spain,1

In [58]:
Data = pd.concat([Data.drop(['Geography'],axis=1),new_geography],axis=1)

In [59]:
Data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,452.0,0.0,49.0,2.0,114458.49,3.0,0.0,0.0,147940.05,0.0,1.0,0.0,0.0
1,785.0,0.0,21.0,3.0,196066.32,2.0,1.0,1.0,62743.46,1.0,0.0,0.0,1.0
2,698.0,0.0,47.0,3.0,15069.25,2.0,0.0,1.0,114940.96,0.0,1.0,0.0,0.0
3,620.0,1.0,54.0,2.0,61139.40,3.0,0.0,1.0,65018.52,1.0,1.0,0.0,0.0
4,456.0,0.0,40.0,9.0,38182.21,2.0,1.0,0.0,126082.99,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0
9998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0
9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0

In [60]:
X=Data.drop(['Exited'],axis=1)

In [61]:
y=Data['Exited']

In [66]:
scaler = StandardScaler()
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [67]:
X_train

array([[        nan,         nan,         nan, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [        nan,         nan,         nan, ..., -0.99850112,
         1.72572313, -0.57638802],
       [        nan,         nan,         nan, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [        nan,         nan,         nan, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [        nan,         nan,         nan, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [        nan,         nan,         nan, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [68]:
X_test

array([[        nan,         nan,         nan, ..., -0.99850112,
         1.72572313, -0.57638802],
       [        nan,         nan,         nan, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [        nan,         nan,         nan, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [        nan,         nan,         nan, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [        nan,         nan,         nan, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [        nan,         nan,         nan, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [70]:
import pickle
with open('label_encoder.pkl', 'wb') as file:
    pickle.dump(label,file)

In [71]:
with open('one_hot_encoder.pkl', 'wb') as file:
    pickle.dump(hot_code,file)

In [72]:
with open('standardscaler.pkl', 'wb') as file:
    pickle.dump(scaler,file)

In [80]:
(X_train.shape[1],)

(12,)

In [82]:
import tensorflow
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
model = Sequential([Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
                    Dense(32, activation='relu'),
                    Dense(1, activation='sigmoid')])

In [86]:
model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [84]:
opt = tensorflow.keras.optimizers.Adam(learning_rate=0.2)
loss= tensorflow.keras.losses.BinaryCrossentropy()
model.compile(optimizer=opt, loss=loss, metrics=['accuracy'])

In [85]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
log_dir = 'fit/' + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensor=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [88]:
early =EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [89]:
train = model.fit(X_train, y_train, epochs=100, validation_data=(X_test, y_test), callbacks=[early, tensor])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.0045 - loss: nan - val_accuracy: 0.0065 - val_loss: nan
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0051 - loss: nan - val_accuracy: 0.0065 - val_loss: nan
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0050 - loss: nan - val_accuracy: 0.0065 - val_loss: nan
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0058 - loss: nan - val_accuracy: 0.0065 - val_loss: nan
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0043 - loss: nan - val_accuracy: 0.0065 - val_loss: nan
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0030 - loss: nan - val_accuracy: 0.0065 - val_loss: nan
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.0044 - loss: nan - val_accuracy: 0.0065 - val_loss: nan
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.0055 - loss: nan - val_accuracy: 0.0065 - val_loss: nan
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.0049 - loss: nan - val_accuracy: 0.0065 - val_loss: nan
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0045 - loss: nan - val_accuracy: 0.0065 - val_loss: nan
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.0046 - loss: nan - val_accuracy: 0.0065 - val_loss: nan

In [93]:
model.save('trained_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [90]:
%load_ext tensorboard

In [94]:
%tensorboard --logdir fit

Reusing TensorBoard on port 6006 (pid 16572), started 0:00:50 ago. (Use '!kill 16572' to kill it.)